<div class="container justify-content-center">
<h1>Edit Article</h1>
<div class="container sm">
<%= simple_form_for (@article) do |f| %>
<%= f.input :title %>
<%= f.input :content %>
<%= f.submit class: 'btn btn-primary' %>
<% end %>
</div>
